<h1>Following</h1>
<% @user.following.each do |followee| %>
  <%= followee.name %> 
  (<%= link_to  "@" + followee.username, user_path(followee.username) %>)<br/>
  <%= render partial: "tweets/follow_button", locals: {user: followee} %>
<% end %>
<%= link_to 'Home', tweets_path %>
