<%= form_with(model: @tweet, local: true) do |f| %>
  <%= render "errors" %>

  <div class="mb-3">
    <%= f.text_area :tweet, class: "form-control", placeholder: "What's happening" %>
  </div>
  <div class="mb-3">
    <%= f.submit "Tweet", class: "btn btn-primary" %>
  </div>
<% end %>