<% if user_signed_in? %>
  <%= form_with(url: looking_for_path, local: true) do |f| %>
    <nav class="panel">
      <p class="panel-heading">Search user</p>
      <div class="panel-block">
        <div class="mr-1">
          <%= f.text_field :followed, class: "input", type: "text", placeholder: "Search user to follow", required: true %>
        </div>
        <div class="ml-1">
          <%= f.submit "Follow", class: "button is-info" %>
        </div>
      </div>
    </nav>
  <% end %>
<% end %>