<div class="container pt-4">
  <div class="row">
    <div class="col-3">
      <%= render partial: "shared/navbar_lateral" %>
    </div>
    <div class="col-6">
      <%= render partial: "feed" %>
    </div>
    <div class="col-3">
      Who to follow
    </div>
  </div>
</div>
