<%= @tweet.tweet %>

<%= link_to 'Back', tweets_path %>
<%= link_to tweet, method: :delete, data: { confirm: "Are you sure you want to delete this tweeet?" } do %>
  <span class="icon">Delete</span>
<% end %>