<h1>Followers</h1>
<% @user.followers.each do |follower| %>
  <%= follower.name %> 
  (<%= link_to  "@" + follower.username, user_path(follower.id) %>)<br/>
  <%= render partial: "tweets/follow_button", locals: {user: follower} %>
<% end %>
<%= link_to 'Home', tweets_path %>
