
    <nav id="sidebarMenu" class="col d-md-block sidebar collapse">
        <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
            <a class="nav-link active" href="#">
                <i class="fab fa-twitter fa-2x bird" ></i>
            </a>
            </li>
            <li class="nav-item">
            <a class="nav-link active" href="#">
                Home
            </a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">
                <%= current_user.name %>
                @<%= current_user.username %>
            </a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">
                <%= button_to 'Log Out', destroy_user_session_path, method: :delete, class: 'btn btn-info btn-lg' %>
            </a>
            </li>
        </ul>
        </div>
    </nav>
